App/build
App/Pods
App/output
DerivedData
userdata
*.apk
*.aab

# Keep fallback index.html but ignore bulky mirrored assets
App/App/public/*
!App/App/public/index.html

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

